<footer>
    <div class="zoom">
        <div class="footer_holder">
            <img src="~/asset2/media/Fetchto_02.png" alt="">
            <div class="foot_nav">
                <div class="foot_map">
                    <a href="~/Home/about">About</a>
                    <a href="~/Home/features">Features & Pricing</a>
                    <a href="~/Home/rate_calculator">Rate calculator</a>
                    <a href="~/Home/carrer">Career</a>
                    <a href="~/Home/contact">Contact</a>
                </div>
                <div class="foot_link">
                    <a href="~/asset2/mailto:support@fetchto.com">support@fetchto.com</a>
                    <span class="follow">
                        <a class="fb" href="https://www.facebook.com/Fetchtoind/?notify_field=cover_photo&modal=profile_completion" target="_blank">
                            <img src="~/asset2/media/ic_facebook.svg" alt="">
                        </a>
                        <a class="fb" href="https://twitter.com/fetchtoind" target="_blank">
                            <img src="~/asset2/media/ic_twitter.svg" alt="">
                        </a>
                        <a class="fb" href="https://www.linkedin.com/company/fetchto/" target="_blank">
                            <img src="~/asset2/media/ic_linkedin.svg" alt="">
                        </a>
                        <a class="fb" href="https://www.instagram.com/fetchto/" target="_blank">
                            <img src="~/asset2/media/ic_github.svg" alt="">
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="foot_copy">
            <h3>&#169; Fetchto 2018 </h3>
        </div>
    </div>
</footer>
