<header>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/extras/loadingoverlay_progress/loadingoverlay_progress.min.js"></script>
    <div class="main_navigation">
        <div class="zoom">
            <div class="logo_holder">
                <a href="~/" class="logo">
                    <!--  <picture>
                                <source srcset="media/corpuslabs-logo-small.png" media="(max-width:600px)">-->
                    <img class="big" src="~/asset2/media/Fetchto_01.png" alt="fetchto_logo">
                    <img class="small" src="~/asset2/media/Fetchto_ICON_01.png" alt="fetchto_logo">
                    <!--</picture>-->
                </a>
            </div>
            <div class="mob_navigation">
                <button class="butmenu mob_menu" data-ripple-color="#f5f5f5" id="onclick">
                    <span>
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15px" height="15px"
                             viewBox="0 0 53 53" style="enable-background:new 0 0 53 53; fill:#fff;" xml:space="preserve">
                        <g>
                        <g>
                        <path d="M2,13.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,13.5,2,13.5z" />

                        <path d="M2,28.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,28.5,2,28.5z" />

                        <path d="M2,43.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,43.5,2,43.5z" />

                                        </g>
                                      </g>
                                  </svg>
                    </span>
                </button>
            </div>
            <div class="navigation">
                <ul class="nav_menu">

                    <li class="about"><a href="~/Home/about">About</a></li>
                    <li class="service"><a href="~/Home/features">Features & Pricing</a></li>
                    <li class="service"><a href="~/Home/rate_calculator">Rate calculator</a></li>

                    <li class="contact"><a href="~/Home/contact">Contact</a></li>
                </ul>
            </div>
            <div class="button">

                <button class="butstart login" data-ripple-color="#f5f5f5" id="">Login</button>


                <button class="butstart sign" data-ripple-color="#f5f5f5" id="">Sign Up</button>

            </div>
        </div>
    </div>
</header>
<div class="sub_menumob">
    <div class="overlay"></div>
    <div class="sub_close">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="16px" viewBox="0 0 17 16" version="1.1">
            <g id="Mention-v4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Menu-Mobile-Full-" transform="translate(-335.000000, -27.000000)" fill="#fff">
                    <path d="M345.109087,34.8816263 L350.973348,29.2331915 C351.231304,28.9848437 351.373217,28.6537133 351.373217,28.3018872 C351.373217,27.9478437 351.231304,27.6174524 350.974087,27.3713219 C350.467043,26.8775828 349.573435,26.8753654 349.059739,27.3698437 L343.186609,33.0293654 L337.312739,27.3713219 C336.804217,26.8775828 335.912087,26.8753654 335.39913,27.3698437 C335.141913,27.6181915 335,27.9493219 335,28.3018872 C335,28.6537133 335.141913,28.9848437 335.39913,29.2324524 L341.263391,34.8816263 L335.39913,40.5308002 C335.141174,40.779148 335,41.1102785 335,41.4628437 C335,41.8154089 335.141913,42.1450611 335.39913,42.3926698 C335.65413,42.6395393 335.993391,42.7755393 336.353348,42.7755393 L336.357043,42.7755393 C336.718478,42.7755393 337.057739,42.6395393 337.312739,42.3926698 L343.186609,36.7338872 L349.059739,42.3926698 C349.315478,42.6395393 349.654739,42.7755393 350.013217,42.7755393 L350.016913,42.7755393 C350.379087,42.7755393 350.719087,42.6395393 350.972609,42.394148 C351.231304,42.1465393 351.373217,41.8154089 351.373217,41.4628437 C351.373957,41.1110176 351.232043,40.7806263 350.973348,40.5308002 L345.109087,34.8816263" id="stroke-x-1-copy"></path>
                </g>
            </g>
        </svg>
    </div>
    <div class="sub_one mob_list">
        <ul class="subcolumn_one">
            <li class="about"><a href="~/Home/about">About</a></li>
            <li class="service"><a href="~/Home/features">Features & Pricing</a></li>
            <li class="service"><a href="~/Home/rate_calculator">Rate calculator</a></li>

            <li class="contact"><a href="~/Home/contact">Contact</a></li>
        </ul>
    </div>


    <button class="butstart login" data-ripple-color="#f5f5f5" id="">Login</button>


    <button class="butstart sign" data-ripple-color="#f5f5f5" id="">Sign Up</button>

</div>
