<div class="login_container">
    <div class="bover"></div>
    <div class="login_holder">
        <div class="blue_over"></div>
        <div class="text_content">
            <div class="close">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="13px" height="13px">
                <g><g><path d="M505.943,6.058c-8.077-8.077-21.172-8.077-29.249,0L6.058,476.693c-8.077,8.077-8.077,21.172,0,29.249    C10.096,509.982,15.39,512,20.683,512c5.293,0,10.586-2.019,14.625-6.059L505.943,35.306    C514.019,27.23,514.019,14.135,505.943,6.058z" fill="#262626" />

    </g></g>
                <g><g><path d="M505.942,476.694L35.306,6.059c-8.076-8.077-21.172-8.077-29.248,0c-8.077,8.076-8.077,21.171,0,29.248l470.636,470.636    c4.038,4.039,9.332,6.058,14.625,6.058c5.293,0,10.587-2.019,14.624-6.057C514.018,497.866,514.018,484.771,505.942,476.694z" fill="#262626" />
    </g></g>
  </svg>
            </div>
            <h1>Fetchto Login</h1>
            <center><p style="color:red;" id="msg"></p></center>
            
            <form class="login_form" action="~/Home/index" method="post" name="login_form">
                <input id="email_l" type="email" name="email_l" placeholder="Email" required />
                <input id="pwd_l" type="password" name="password_l" placeholder="Password" required />
                <div id="eye">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="22.5px" height="22.5px" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512">
                        <g>
                            <g>
                                <path d="m499.4,250.8c-51-86.3-143.6-140.4-243.4-140.4s-192.5,54.1-243.4,140.4c-2.1,3.1-2.1,7.3 5.32907e-15,10.4 51,86.3 143.6,140.4 243.4,140.4s192.5-54.1 243.4-140.4c2.1-3.1 2.1-7.3 0-10.4zm-243.4,130c-90.5,0-174.8-47.8-221.6-124.8 46.8-77 131.1-124.8 221.6-124.8s174.8,47.8 221.6,124.8c-46.8,77-131.1,124.8-221.6,124.8z" />
                                <path d="m256,162.4c-52,0-93.6,41.6-93.6,93.6 0,52 41.6,93.6 93.6,93.6s93.6-41.6 93.6-93.6c0-52-41.6-93.6-93.6-93.6zm0,166.4c-40.6,0-72.8-32.3-72.8-72.8s32.3-72.8 72.8-72.8 72.8,32.3 72.8,72.8-32.2,72.8-72.8,72.8z" />
                                <path d="m256,214.4v20.8c11.4,0 20.8,9.4 20.8,20.8s-9.4,20.8-20.8,20.8-20.8-9.4-20.8-20.8h-20.8c0,22.9 18.7,41.6 41.6,41.6 22.9,0 41.6-18.7 41.6-41.6s-18.7-41.6-41.6-41.6z" />
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="submission">
                    <input type="button" name="close" id="sign" value="Sign in" />
                </div>
            </form>
            <div class="down">
                <p class="reset">Forgot your password? <a href="~/Home/Reset">Reset it.</a></p>
                <p class="right">Don't have Fetchto Account? <span class="sign">Sign Up</span></p>
            </div>
        </div>
    </div>
</div>
<div class="signup_container">
    <div class="bover"></div>
    <div class="leftt_content">
        <h1><span>1000+</span> sellers trust Fetchto to ship their products</h1>
        <div class="txt">
            <div class="txt_one">
                <h3>Get <span>₹50</span></h3> <p>free on your successful signup</p>
            </div>
            <div class="txt_two">
                <p><span><img src="media/tik.png" alt=""></span> No subscription cost</p>
                <p><span><img src="media/tik.png" alt=""></span> No mininmum commitment</p>
                <p><span><img src="media/tik.png" alt=""></span> Easy onboarding</p>
                <p><span><img src="media/tik.png" alt=""></span> Open to all features</p>
            </div>
        </div>
    </div>
    <div class="signup_holder">
        <div class="blue_over"></div>
        <div class="text_content">
            <div class="sclose">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="13px" height="13px">
                <g><g><path d="M505.943,6.058c-8.077-8.077-21.172-8.077-29.249,0L6.058,476.693c-8.077,8.077-8.077,21.172,0,29.249    C10.096,509.982,15.39,512,20.683,512c5.293,0,10.586-2.019,14.625-6.059L505.943,35.306    C514.019,27.23,514.019,14.135,505.943,6.058z" fill="#262626" />



    </g></g>
                <g><g><path d="M505.942,476.694L35.306,6.059c-8.076-8.077-21.172-8.077-29.248,0c-8.077,8.076-8.077,21.171,0,29.248l470.636,470.636    c4.038,4.039,9.332,6.058,14.625,6.058c5.293,0,10.587-2.019,14.624-6.057C514.018,497.866,514.018,484.771,505.942,476.694z" fill="#262626" />



    </g></g>
  </svg>
            </div>

            <h1>Signup to Fetchto</h1>


            <div id="signup_block">
                <center><p style="color:red;" id="signup_msg"></p></center>
                <form class="signup_form" name="login_form" action="~/Home/user_registration_exe" method="post">
                    <input id="username_r" type="text" name="username" placeholder="Username" />
                    <input id="email" type="email" name="email" placeholder="Email ID" />
                    <input id="mobile" type="number" name="phone" placeholder="Mobile number" />
                    <input id="password" type="password" name="password" placeholder="Password" />
                    <input id="cpassword" type="password" name="cpassword" placeholder="Confirm Password" />
                    <label><input type="checkbox" id="agree_check" name="term" value="term" />By signing up, you agree to the fetchto <a href="~/Home/terms" target="_blank">terms and privacy policy</a>.</label>


                    <div class="submission">
                        <input type="button" name="close" id="signup" value="Sign Up" />
                    </div>
                </form>



                <div class="down">
                    <p class="right">Already have an account? <span class="login">Login</span></p>
                </div>
            </div><!--signup block-->
            <div id="msg_block">
                <center><p style="color: green;" id="success_msg"></p></center>
            </div>
        </div>
    </div>
</div>
<div class="request_container custom3">
    <div class="bover"></div>
    <div class="request_holder lead">
        <div class="blue_over"></div>
        <div class="text_content">
            <div class="rclose">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="13px" height="13px">
                <g><g><path d="M505.943,6.058c-8.077-8.077-21.172-8.077-29.249,0L6.058,476.693c-8.077,8.077-8.077,21.172,0,29.249    C10.096,509.982,15.39,512,20.683,512c5.293,0,10.586-2.019,14.625-6.059L505.943,35.306    C514.019,27.23,514.019,14.135,505.943,6.058z" fill="#262626" />



    </g></g>
                <g><g><path d="M505.942,476.694L35.306,6.059c-8.076-8.077-21.172-8.077-29.248,0c-8.077,8.076-8.077,21.171,0,29.248l470.636,470.636    c4.038,4.039,9.332,6.058,14.625,6.058c5.293,0,10.587-2.019,14.624-6.057C514.018,497.866,514.018,484.771,505.942,476.694z" fill="#262626" />



    </g></g>
  </svg>
            </div>
            <h1>Contact sales</h1>
            <div class="msg" style="text-align: center;"></div>
            <form class="request_form" name="login_form">
                <input id="s_username" type="text" name="Username" placeholder="Name" />
                <input id="s_email" type="email" name="Email" placeholder="Email ID" />
                <input id="s_mobile" type="text" name="Mobile" placeholder="Mobile number 10 digits only" />
                <input id="s_pincode" type="text" name="pincode" placeholder="Pickup pincode" />
                <div class="down">

                </div>
                <div class="submission">
                    <input type="button" name="close" class="sales_submit" id="" value="Request" />
                </div>
            </form>

        </div>
    </div>
</div>
<div class="request_container requestt">
    <div class="bover"></div>
    <div class="request_holder ship_request_holder">
        <div class="blue_over"></div>
        <div class="text_content">
            <div class="rclose">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="13px" height="13px">
                <g><g><path d="M505.943,6.058c-8.077-8.077-21.172-8.077-29.249,0L6.058,476.693c-8.077,8.077-8.077,21.172,0,29.249    C10.096,509.982,15.39,512,20.683,512c5.293,0,10.586-2.019,14.625-6.059L505.943,35.306    C514.019,27.23,514.019,14.135,505.943,6.058z" fill="#262626" />



    </g></g>
                <g><g><path d="M505.942,476.694L35.306,6.059c-8.076-8.077-21.172-8.077-29.248,0c-8.077,8.076-8.077,21.171,0,29.248l470.636,470.636    c4.038,4.039,9.332,6.058,14.625,6.058c5.293,0,10.587-2.019,14.624-6.057C514.018,497.866,514.018,484.771,505.942,476.694z" fill="#262626" />



    </g></g>
  </svg>
            </div>
            <h1>Shipping Request</h1>
            <div class="msg" style="text-align: center;"></div>
            <form class="request_form" name="login_form">
                <input id="ship_country" type="text" name="Username" placeholder="Destination Country" />
                <input id="ship_weight" type="text" name="Username" placeholder="Weight in Kg (ex: 0.5,1,1.5)" />
                <input id="ship_product" type="text" name="Username" placeholder="Product" />
                <input id="ship_email" type="email" name="Email" placeholder="Email ID" />
                <input id="ship_mobile" type="number" name="Mobile" placeholder="Mobile number" />
                <div class="submission">
                    <input type="button" name="close" class="ship_request" id="" value="Request" />
                </div>
            </form>
            <div class="down">
                <p class="center hide">One of our International team member will contact you soon!</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/signup_container.js"></script>
@if (Request.QueryString["login"] != null && Request.QueryString["login"].ToString().Trim() == "verified")
{
<script type="text/javascript">
    
    $(".login_container").fadeIn(50);
    $(".login_container").css("display", "inline-block");
    $(".signup_container").css("display", "none");
    $(".request_container").css("display", "none");
    $('.sub_menumob').css("z-index", "0");
    $('.sub_menumob').css("opacity", "0");
    $('.sub_menumob').css("transition", " 0.05s ease");
    $('.sub_menumob').css("top", "-2000px");
    $('.sub_menumob').css("transition", " 0.05s ease");
</script>
}